<div class="container_menu-title">
    <hr>
    <h1 (load)="randomizeLetters()" data-value="Bem Vindo!"><span>Bem Vindo!</span></h1><br>


    <h3>Sou Nathan Rodrigues, um desenvolvedor full stack com forte interesse em aplicações mobile, e aqui estão alguns dos meus projetos pessoais.</h3>
    <h4>Alguns deles foram desenvolvidos ao longo da minha trajetória profissional, outros durante o curso de Análise e Desenvolvimento de Sistemas no IFTM Uberaba, onde me formei, e vários surgiram como desafios pessoais para aprofundar minhas habilidades. Fique à vontade para explorar minhas ideias e soluções. 👾 Meus contatos estão na barra lateral.</h4>
    <hr>
</div>