.container_menu-title {
    margin: 15px;
    padding: 5px;
}

.container_menu-title>h1 {
    margin: 15px;
    font-size: 100px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.container_menu-title>h2 {
    margin: 15px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}