<div class="container_menu-title">
    <hr>
    <h1 (load)="randomizeLetters()" data-value="Bem Vindo!">Bem Vindo!</h1><br>


    <h2>Me chamo Nathan Rodrigues e sou um desenvolvedor; aqui estão alguns dos meus projetos pessoais</h2>
    <h3>Vários desses projetos foram desenvolvidos no curso de Análise e Desenvolvimento de Sistemas no IFTM, já outros foram desenvolvidos para estudos e aprimoramento em minhas habilidades pessoais. Sinta-se livre para explorar e até contribuir se desejar. Meus contatos estão na barra lateral ao lado</h3>
    <hr>
</div>