.container_menu-title {
    margin: 15px;
    padding: 5px;
    width: calc(100vw - 60px);
    overflow-x: hidden;
    margin-left: 60px;
}

.container_menu-title>h1 {
    font-size: 50px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container_menu-title>h1 span {
    display: inline-block;
    transform: translateY(10px);
    opacity: 0;
    animation: title-reveal 600ms var(--ease-out) forwards;
}

@keyframes title-reveal {
    to { transform: translateY(0); opacity: 1; }
}

.container_menu-title>h3 {
    margin: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    
}
.container_menu-title>h4{
    margin: 10px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    padding: 10px 40px;
}

@media screen and (max-width:600px){
    .container_menu-title>h1 {
        font-size: 1.7rem;
    }
    .container_menu-title >h3{
        padding: 0px;
        font-size: 0.9rem;
    }
    .container_menu-title >h4{
        padding: 0px;
        font-size: 0.8rem;
    }

}