<div class="container_menu-title">
    <hr>
    <h1 (load)="randomizeLetters()" data-value="Bem Vindo!">Bem Vindo!</h1><br>


    <h2>Me chamo Nathan Rodrigues e sou um desenvolvedor full stack com forte interesse em aplicações mobile. Aqui estão alguns dos meus projetos pessoais.</h2>
    <h3>Alguns deles foram desenvolvidos ao longo da minha trajetória profissional, outros durante o curso de Análise e Desenvolvimento de Sistemas no IFTM Uberaba, onde me formei, e vários surgiram como desafios pessoais para aprofundar minhas habilidades. Fique à vontade para explorar minhas ideias e soluções. 👾 Meus contatos estão na barra lateral.</h3>
    <hr>
</div>