a{
    color: var(--cor-fundo); 
    font-weight: bold;
    background-color:  var(--cor-secundaria); 
}

.custom-description {
    background-color:  var(--cor-secundaria); 
    color: var(--cor-clara); 
    padding: 5vh;
    margin-top: 10vh;
    position: relative;
    text-align: center;
}

.custom-description::before {
    content: "";
    position: absolute;
    top: -30px; 
    right: 0;
    width: 40dvw; 
    height: 31px; 
    background-color: var(--cor-secundaria);
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%); 
}

.custom-description__content {
    margin: 0 auto;
    background-color: var(--cor-secundaria);
}

.custom-description__content p {
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
    background-color: var(--cor-secundaria);
}

.custom-description__content h2{
    background-color: var(--cor-secundaria);
}
@media screen and (max-width:1000px) {
    .custom-description__content p  {
        font-size: 15px;
    }
}
