<div class="custom-footer">
    <div class="custom-footer__content">
        <h2>Um pouco sobre mim:</h2>
        <p>Atualmente estou cursando Análise e Desenvolvimento de Sistemas no 6º período. Recentemente, comecei uma nova
            jornada em uma startup chamada Criativa Inova, após uma experiência enriquecedora na Codiub, onde desenvolvi
            sistemas de qualidade tanto para a prefeitura de Uberaba quanto para o cidadão 📚</p>
        <br>
        <p>Na Codiub, trabalhei na reescrita e modernização do sistema de consulta de sepultados, migrando de PHP para
            Angular, com melhorias significativas na interface e na performance 💻. Também atuei na atualização do
            portal da empresa usando Angular, trazendo mais modernidade e usabilidade ao sistema.</p>
        <br>
        <p>Além disso, contribui para a estabilidade de um aplicativo mobile em Java, usado para controle de frequência
            e chamadas em várias escolas municipais, garantindo funcionamento eficiente em todas as versões do Android
            Durante meu estágio, também colaborei no desenvolvimento de telas para o Portal Acadêmico, sistema utilizado
            por alunos da rede municipal para consultar vagas, matrículas e boletins. As telas foram desenvolvidas com
            JSF e o framework PrimeFaces 🎓</p>
        <br>
        <p>Sou muito interessado em desenvolvimento web, especialmente no frontend, e também gosto bastante de
            desenvolvimento mobile. Tenho
            experiência prática com Angular, Flutter, React Native, Spring Boot, Kotlin e Git. Estou sempre em busca de novos
            aprendizados e de aprimorar minhas habilidades, e gosto de enfrentar desafios que me façam crescer 🚀</p>
    </div>
</div>