<div class="custom-footer">
    <div class="custom-footer__content">
        <h2>Um pouco sobre mim:</h2>
        <p>Sou Desenvolvedor de Software, formado em Análise e Desenvolvimento de Sistemas pelo IFTM. Tenho experiência sólida no desenvolvimento de soluções web e mobile, com foco em Angular, React Native e Java Spring. Atualmente, atuo na Criativa Inova, onde contribuo para o desenvolvimento de aplicações escaláveis e seguras, com foco em experiência do usuário.</p>
        <p>Na Codiub, participei de projetos voltados para a gestão pública, como a modernização do sistema de consulta de sepultados, migrando de PHP para Angular, o que trouxe melhorias significativas na interface e performance 💻. Também atuei na atualização do portal da empresa, aprimorando sua usabilidade e design, além de contribuir para a estabilidade de um aplicativo mobile em Java, utilizado no controle de frequência escolar. Durante meu estágio, desenvolvi telas para o Portal Acadêmico usando JSF e PrimeFaces, facilitando o acesso de alunos a informações como vagas, matrículas e boletins 🎓.</p>
        <p>Com uma abordagem centrada no usuário e comprometimento com qualidade e acessibilidade, estou sempre em busca de desafios que conectem tecnologia a resultados práticos e impactantes 🚀.</p>
    </div>
</div>
