<div class="custom-footer">
    <div class="custom-footer__content">
        <h2>Um pouco sobre mim:</h2>
        <p>Atualmente estou cursando Análise e Desenvolvimento de Sistemas no 6º período. Estou estagiando na
            Codiub, uma empresa de Uberaba-MG que presta serviços e desenvolve sistemas de qualidade para a
            prefeitura de Uberaba e também ao cidadão 📚
        </p>
        <br>
        <p>Na Codiub, analisei e dei suporte a vários sistemas já existentes, além de desenvolver projetos
            do zero. Um desses sistemas foi o sistema de consulta de sepultados, onde o antigo sistema usava PHP. Participei
            ativamente da reescrita e manutenção do sistema usando Angular, implementando melhorias significativas na
            interface e na performance 💻
        </p>
        <br>
        <p>Também contribuí para a manutenção de um aplicativo mobile em Java utilizado no controle de frequência e chamadas
            em várias escolas municipais da cidade, garantindo a estabilidade e eficiência do sistema em todas as versões do
            android 📱
        </p>
        <br>
        <p>Tenho grande interesse pela área de desenvolvimento web, principalmente no frontend, assim como no
            desenvolvimento mobile. Possuo experiência prática em Angular, Flutter, React Native, Spring Boot e Git. Estou sempre buscando aprender
            novas tecnologias e aprimorar minhas habilidades. Sou apaixonado por desafios e estou constantemente aberto a novas
            oportunidades que me permitam crescer profissionalmente e contribuir com minhas habilidades 🚀
        </p>
    </div>
</div>
