.container__content {
    width: calc(100% - 60px);
    overflow-x: hidden;
    margin-left: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 5px;
    margin-bottom: 20vh;
}

.back-button{
    background-color: var(--cor-secundaria);
    margin: 15px;
    padding: 8px;
    border-radius: 15px;
    transition: all 0.3s ease-out;
}

.back-button i{
    background-color: var(--cor-secundaria);
    transition: all 0.3s ease-out;
}

.back-button:hover{
    background-color: var(--cor-primaria);
}

.back-button:hover >i{
    background-color: var(--cor-primaria);
}

.content__cover > img {
    max-width: 100%; 
    width: 50vw;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 0px 10px black;
}


@media (max-width: 600px) {
    .container__content {
        width: calc(100% - 60px);
        padding: 10px;
        margin-left: 60px;
    }

    .content__title >h1{
        font-size: 1.7rem;
    }

    .content__cover > img {
        width: 70vw; 
        margin-left: 10px;
    }

    .content__description > p {
        font-size: 0.8rem; 
        margin: 10px;
    }

    .back-button {
        justify-content: center;
        margin: 10px 0;
        padding: 10px;
    }

    .content__link {
        word-wrap: break-word; /* Garante que links longos quebrem corretamente */
        text-align: center;
    }
}

/* Estilos para telas muito pequenas (como smartphones) */
@media (max-width: 480px) {
    .content__description > p {
        font-size: 0.9em;
    }

    .back-button {
        font-size: 0.9em;
    }
}
