<div class="container__content">
    <!-- HTML -->
    <a [routerLink]="['']" class="back-button">
        <i class="fas fa-arrow-left"></i> Voltar
    </a>


    <div class="content__cover">
        <img src="{{photoCover}}" alt="Imagem da noticia">
    </div>

    <div class="content__title">
        <h1>{{contentTitle}}</h1>
        <hr>
    </div>

    <div class="content__description">
        <p>{{contentDescription}}</p>
    </div>
    <div class="content__link">
        <a href="{{contentLink}}">Link para o Projeto: {{contentLink}}</a>
    </div>
</div>