
    <div class="container__big-card">
        <div class="big-card__photo">
            <img src="https://i.kym-cdn.com/photos/images/newsfeed/002/569/938/d97.gif" 
            alt="Capoeira do Mal" 
            srcset="">
        </div>
        <div class="big-card__title">
            <h1><a href="#">Você já ouviu da tragédia de Darth Plagueis, o Sábio?</a></h1>
        </div>
        <div class="big-card__description">
            <p><a href="">Darth Plagueis foi um Lorde Sombrio dos Sith, tão poderoso e tão sábio que ele poderia usar a força para influenciar os midi-chlorians para criar vida…</a></p>
        </div>
    </div>


