.container__big-card {
    width: 100%; 
    max-width: 450px; 
    height: auto; 
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    transition: all 0.3s ease-out;
}

.container__big-card:hover{
    box-shadow: var(--cor-secundaria) 0px 0px 30px;
}

.big-card__title > h1 {
    font-size: 20px; 
    margin-top: 15px;
}

.big-card__description > p > a {
    color: gray; 
}

.big-card__photo > img {
    width: 100%; 
    min-width: 40px; 
    max-width: 100%; 
}
