

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card Id="1"
        photoCover="https://i.kym-cdn.com/photos/images/newsfeed/002/569/938/d97.gif"
        cardTitle="Você já ouviu da tragédia de Darth Plagueis, o Sábio?"
        cardDescription="Darth Plagueis foi um Lorde Sombrio dos Sith, tão poderoso e tão sábio que ele poderia usar a força para influenciar os midi-chlorians para criar vida…"></app-big-card>
    </div>
    
    <div class="articles__others">
        <app-small-card Id="2" smallDescription="Rato de Alta Qualidade Girando Horizontalmente & Teleportando " smallPhoto="https://i.kym-cdn.com/photos/images/original/002/422/233/e28.gif"></app-small-card>
        <app-small-card Id="3" smallDescription="PhP é eleito melhor linguagem de programação entre a juventude de 13~18 anos" smallPhoto="https://t.ctcdn.com.br/I-Nm-UiruDNAkdQayP4pGO5wx0Q=/1200x675/smart/i598772.jpeg"></app-small-card>
        <app-small-card Id="4" smallDescription="Gato é encontrado curtindo uma batida durante tempestade em Júpter" smallPhoto="https://i.makeagif.com/media/3-22-2021/qrIh8U.gif"></app-small-card>
    </div>
</div>

<hr>

<div class="container__articles">
    <div class="articles__others">
        <app-small-card Id="2" smallDescription="Rato de Alta Qualidade Girando Horizontalmente & Teleportando " smallPhoto="https://i.kym-cdn.com/photos/images/original/002/422/233/e28.gif"></app-small-card>
        <app-small-card Id="3" smallDescription="PhP é eleito melhor linguagem de programação entre a juventude de 13~18 anos" smallPhoto="https://t.ctcdn.com.br/I-Nm-UiruDNAkdQayP4pGO5wx0Q=/1200x675/smart/i598772.jpeg"></app-small-card>
        <app-small-card Id="4" smallDescription="Gato é encontrado curtindo uma batida durante tempestade em Júpter" smallPhoto="https://i.makeagif.com/media/3-22-2021/qrIh8U.gif"></app-small-card>
    </div>
    <div class="articles__main">
        <app-big-card Id="1"
        photoCover="https://i.kym-cdn.com/photos/images/newsfeed/002/569/938/d97.gif"
        cardTitle="Você já ouviu da tragédia de Darth Plagueis, o Sábio?"
        cardDescription="Darth Plagueis foi um Lorde Sombrio dos Sith, tão poderoso e tão sábio que ele poderia usar a força para influenciar os midi-chlorians para criar vida…"></app-big-card>
    </div>
</div>