

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card Id="1"
        photoCover="https://wallpapercave.com/wp/wp7250087.jpg"
        cardTitle="Projeto de Gerenciamento de Consultórios Médicos"
        cardDescription="Este sistema foi feito para a matéria de Programação Orientada à Objetos, do curso de ADS que estou cursando no IFTM."></app-big-card>
    </div>
    
    <div class="articles__others">
        <app-small-card Id="2" smallDescription="Sistema de Gerenciamento de Chaves" smallPhoto="https://raw.githubusercontent.com/NahNathan/Emprestimo-de-Chaves/main/Doc/README_assets/insert_pg.png"></app-small-card>
        <app-small-card Id="3" smallDescription="Jeff Imóveis, um sistema kotlin de gerenciamento de imóveis feito para uma prova" smallPhoto="https://i.imgur.com/kLq7hTK.png"></app-small-card>
        <app-small-card Id="4" smallDescription="Projeto Básico de Pokédex" smallPhoto="https://i.imgur.com/802ZQgU.png"></app-small-card>
    </div>
</div>

<hr>

<div class="container__articles">
    <div class="articles__others">
        <app-small-card Id="5" smallDescription="Campo Minado Mobile em Kotlin" smallPhoto="https://i.imgur.com/2OyDqSe.png"></app-small-card>
        <app-small-card Id="6" smallDescription="Night City Tarot" smallPhoto="https://i.imgur.com/xg7WO8X.png"></app-small-card>
        <app-small-card Id="8" smallDescription="Imagens Responsivas" smallPhoto="https://i.imgur.com/B8sTUFS.png"></app-small-card>
        <app-small-card Id="9" smallDescription="Jogo da Velha" smallPhoto="https://i.imgur.com/wcv5RZK.png"></app-small-card>
    </div>
    <div class="articles__main">
        <app-big-card Id="7"
        photoCover="https://i.imgur.com/QAvFKfI.png"
        cardTitle="NatCursos"
        cardDescription="Um projeto simples que fiz para estudar aspectos e conceitos do framework Svelte..."></app-big-card>
    </div>
</div>