<app-menu-title></app-menu-title>
<div class="container__page">
  
  <ng-container *ngFor="let group of getProjectGroups(); let groupIndex = index">
    
    <div class="container__articles" *ngIf="!shouldReverse(groupIndex) && group.length > 0">
      <div class="articles__main" *ngIf="group[0]">
        <app-big-card
          [Id]="group[0].Id"
          [photoCover]="group[0].photo"
          [cardTitle]="group[0].title"
          [cardDescription]="truncateDescription(group[0].description)">
        </app-big-card>
      </div>
      <div class="articles__others">
        <ng-container *ngFor="let item of group.slice(1)">
          <app-small-card
            [Id]="item.Id"
            [smallDescription]="item.title"
            [smallPhoto]="item.photo">
          </app-small-card>
        </ng-container>
      </div>
    </div>

    <div class="container__articles" *ngIf="shouldReverse(groupIndex) && group.length > 0">
      <div class="articles__others">
        <ng-container *ngFor="let item of group.slice(1)">
          <app-small-card
            [Id]="item.Id"
            [smallDescription]="item.title"
            [smallPhoto]="item.photo">
          </app-small-card>
        </ng-container>
      </div>
      <div class="articles__main" *ngIf="group[0]">
        <app-big-card
          [Id]="group[0].Id"
          [photoCover]="group[0].photo"
          [cardTitle]="group[0].title"
          [cardDescription]="truncateDescription(group[0].description)">
        </app-big-card>
      </div>
    </div>
    <hr *ngIf="groupIndex === 0">
    
    <app-techs-slider *ngIf="groupIndex === 0"></app-techs-slider>
    
    <ng-container *ngIf="groupIndex === 2">
      <app-text-card></app-text-card>
      <app-s-text-card></app-s-text-card>
      <hr>
    </ng-container>
    
  </ng-container>
  <app-footer-bar></app-footer-bar>
</div>